<!DOCTYPE html>
<html>
    <head>
        <title>Display Room</title>
        <style>
        .grid-container {
          display: grid;
          grid-template-columns: auto auto auto auto;
          grid-gap: 2px;
          background-color: #2196F3;
          padding: 1px;
        }
        .grid-container > div {
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid black;
          text-align: center;
          font-size: 30px;
        }
        </style>
    </head>
<body>
    <h1>Welcome to Taro's Display Room</h1>
    <h2>Bucket: {{ bucket }}</h2>
    <!--<img src="http://localhost:8280/giftest/newGif.gif"/>-->


    <div class="grid-container">
        {% for key, gif_src in result.items() %}

      <div>
          <img src="{{ gif_src }}"/>
      </div>

        {% endfor %}
    </div>


</body>
</html>
